@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  background: #f5f5f5;
  padding: 2rem;
}

h1 {
  margin-bottom: 2rem;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: #520688;
}
